{% extends '::newadmin.html.twig' %}
{% block title %}Lista Genaral de Post{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}

        <!-- Start right content -->
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1><i class='fa fa-envelope'></i>Lista Genaral de Post</h1>
                </div>

                {{ include('default/vistas/message/success.html.twig') }}
                {{ include('default/vistas/message/error.html.twig') }}
                <div class="table-responsive">
                    Total Records: <span id="total"> {{ pagination.getTotalItemCount }}</span>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
                                {{ knp_pagination_sortable(pagination,'ID','u.id') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(pagination,'titulo','u.titulo') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(pagination,'contenido','u.contenido') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(pagination,'Fecha de creacion','u.fechaPublicacion') }}
                            </th>
                            <th>
                                Autor
                            </th>
                            <th>
                                action
                            </th>
                        </tr>
                        </thead>
                        {% for pagination in pagination %}
                        <tbody>
                        <tr id="{{ pagination.id }}" data-id="{{ pagination.id }}" class="getId">
                            <td > {{ pagination.id }}</td>
                            <td> {{ pagination.titulo}}</td>
                            <td> {{ pagination.contenido }}</td>
                            <td> {{ pagination.fechaPublicacion|date('Y-m-d H:i') }}</td>
                            <td> {{ pagination.postuser.username }}</td>
                            <td>  <a href="{{ path('ver',{id: pagination.id }) }}" class="btn btn-info btn btn-sm"> Ver</a>
                                <a href="{{ path('newedit',{id: pagination.id }) }}" type="button" class="btn btn-primary btn-sm">Editar</a>
                                <a href="#" class="btn btn-danger btn btn-sm btn-delete">Borrar</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                    {# display navigation #}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>




            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

        </div>


            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->

        </div>
        <!-- End right content -->


        <!--
             MODAL OVERLAY
             Always place this div at the end of the page content
             -->
        <div class="md-overlay"></div>
        </div>
        <!-- End of page -->
        <!-- the overlay modal element -->
        <div class="md-overlay"></div>
        <!-- End of eoverlay modal -->
        <script>
            var resizefunc = [];
        </script>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/framework/js/borrar.js') }}"></script>
{% endblock %}