{% extends '::newadmin.html.twig' %}
{% block title %}Ver email{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <!-- Start right content -->
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1><i class='fa fa-envelope'></i> Bandeja de Mensajes</h1>
                </div>
                <!-- Page Heading End-->
                <!-- Begin Inbox -->
                <div class="widget transparent box-messages">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-9">
                            <form class="form-horizontal" role="form">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <div class="form-group form-search search-box has-feedback">
                                        <input type="text" class="form-control full-rounded" id="inputSuccess5"
                                               placeholder="Search..">
                                        <a class="btn btn-link" href="#"><span
                                                    class="fa fa-search form-control-feedback"></span></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Sidebar Message -->
                            <div class="btn-group new-message-btns stacked">
                                <a href="new-message.html" class="btn btn-success btn-lg col-xs-10">Redactar
                                    Mensaje </a>
                                <a class="btn btn-success md-trigger col-xs-2 btn-lg" data-modal="new-message"><i
                                            class="icon-pencil"></i></a>
                            </div>
                            <div class="list-group menu-message">
                                <a href="{{ path('veremail') }}" class="list-group-item "><i class="icon-inbox"></i> Inbox
                                    <span class="badge pull-right"></span></a>
                                <a href="{{ path('versend') }}" class="list-group-item active"><i class="icon-export"></i> Enviados</a>
                            </div>

                            {# <div class="list-group menu-folders">
                                 <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-red-1"></i> Work</a>
                                 <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-green-1"></i> Social</a>
                                 <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-blue-1"></i> Friends</a>
                                 <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-orange-3"></i> Private</a>
                                 <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-lightblue-2"></i> Family</a>
                             </div>#}
                        </div><!-- ENd div .col-md-2 -->

                        {#<div class="col-md-9">
                            <div class="mail-list">
                                <div class="clearfix"></div>

                                <!-- Toolbar message -->
                                <div class="data-table-toolbar">
                                    <div class="row">
                                        <div class="col-sm-8">

                                            <div class="btn-toolbar" role="toolbar">
                                               <div class="btn-group">
                                                   <div class="rows-check-cont">
                                                       <input type="checkbox" class="rows-check">
                                                   </div>
                                               </div>
                                               <div class="btn-group">
                                                   <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i
                                                               class="fa fa-tag"></i> <span class="caret"></span></a>
                                               </div>
                                               <div class="btn-group hidden-xs">
                                                   <a data-toggle="tooltip" title="Move to Archive"
                                                      class="btn btn-primary"><i class="fa fa-inbox"></i></a>
                                                   <a data-toggle="tooltip" title="Move to Trash"
                                                      class="btn btn-primary"><i class="fa fa-trash-o"></i></a>
                                               </div>
                                               <div class="btn-group hidden-xs">
                                                   <a data-toggle="tooltip" title="Actualizar" class="btn btn-primary"><i
                                                               class="fa fa-undo"></i></a>
                                               </div>
                                               {# <div class="btn-up">
                                                    <a data-toggle="tooltip" title="Move to folder" class="btn btn-primary"><i class="fa fa-folder"></i> <span class="caret"></span></a>
                                                </div>
                                                <div class="btn-group">
                                                    <button class="btn btn-primary dropdown-toggle"
                                                            data-toggle="dropdown">Mas <span class="caret"></span>
                                                    </button>
                                                  <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#fakelink">Mover todo a Archivado</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#fakelink">Mover Todo a Papelera</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>#}
                                        <div class="col-sm-4 hidden-xs">
                                            <div class="pull-right">
                                                <span class="paging-status">{{ pagination.getTotalItemCount }}
                                                    de {{ total }}</span>
                                                <div class="btn-group">
                                                    {{ knp_pagination_render(pagination) }}
                                                </div>
                                            </div>
                                        </div><!-- End div .col-sm-3 -->
                                    </div><!-- End div .row -->
                                </div><!-- End div .data-table-toolbar -->
                                <!-- End toolbar message -->


                                <!-- Message table -->
                                <div class="table-responsive">
                                    <table class="table table-hover table-message">
                                        <tbody>
                                        Total Records: <span id="total"> {{ pagination.getTotalItemCount }}</span>
                                        {% for pagination in pagination %}

                                            <tr id="{{ pagination.id }}" data-id="{{ pagination.id }}" class="getId">
                                                <td style="width: 20px"><input type="checkbox" class="rows-check"></td>
                                                <td style="width: 20px;"><a href="javascript:;"><i
                                                                class="icon-star-1 warning"></i></a></td>
                                                <td>
                                                    <a href="{{ path('leermail', {'id': pagination.id}) }}">para:{{ pagination.email }}</a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('leermail', { 'id': pagination.id }) }}">{{ pagination.texto }}</a>
                                                </td>
                                                <td><i class="icon-attach-3" data-toggle="tooltip"></i></td>
                                                <td>{{ pagination.fecha|date('short') }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div><!-- End div .table-responsive -->
                                <!-- End message table -->

                                <!-- Footer message toolbar -->
                                <div class="data-table-toolbar-footer">
                                    <div class="pull-right">
                                        <span class="paging-status">{{ pagination.getTotalItemCount }}
                                            de {{ total }}</span>
                                        <div class="btn-group">
                                            {{ knp_pagination_render(pagination) }}

                                        </div><!-- End div .btn-group -->
                                    </div><!-- End div .pull-right -->
                                </div><!-- End div .data-table-toolbar -->
                                <!-- End Footer message toolbar -->
                            </div>
                        </div><!-- End div .col-md-10 -->
                    </div><!-- End div .row -->
                </div><!-- End div .box-info -->
                <!-- End inbox -->


            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->

        </div>
        <!-- End right content -->
        <!-- Modal New message -->
        <div class="md-modal md-slide-stick-top" id="new-message">
            <div class="md-content">
                <div class="md-close-btn"><a class="md-close"><i class="fa fa-times"></i></a></div>
                <h3><strong>Nuevo</strong> Mensaje</h3>
                <div>
                    <form role="form" action="{{ path('newemail') }}" method="post"  role="form" enctype="multipart/form-data">

                        <div class="form-group">
                            <input type="text" required name="email" class="form-control input-lg" placeholder="Mensaje para:">
                        </div>
                        <div class="form-group">
                            <input type="text" name="asunto" class="form-control input-lg" placeholder="Asunto">
                        </div>
                        <div class="form-group">
                            <textarea name="texto" class="summernote-small form-control"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <button type="submit" class="btn btn-success btn-sm">enviar</button>
                            </div>
                            <div class="col-xs-4">
                                <p class="quick-post message">
                                    <a><i class="fa fa-picture-o"> </i></a>
                                    <a><i class="icon-attach-3" data-toggle="tooltip"></i></a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <div class="md-overlay"></div>
        </div>
        <!-- End of page -->
        <!-- the overlay modal element -->
        <div class="md-overlay"></div>
        <!-- End of eoverlay modal -->
        <script>
            var resizefunc = [];
        </script>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}