{% extends 'adminbase.html.twig' %}


{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}">AmplexBlog! Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{  app.session.get('nombre') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Perfil  {{  app.session.get('id') }}</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i>correo</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Opciones</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('logaout') }}"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{{ path('index') }}"><i class="fa fa-fw fa-dashboard"></i> Portada</a>
                    </li>
                    <li>
                        <a href="{{ path('todopost') }}"><i class="fa fa-fw fa-bar-chart-o"></i>Todos los post</a>
                    </li>
                    <li>
                        <a href="{{ path('listpost') }}"><i class="fa fa-fw fa-table"></i> Listas de post</a>
                    </li>
                    <li>
                        <a href="{{ path('newpost') }}"><i class="fa fa-fw fa-edit"></i> Crear post</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Crear categorias</a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </li>

            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Todos los post Realizados
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i> <a href="{{ path('index') }}">Portada</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> todos los post
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  <strong>Bienvenido</strong>  <a href="#" class="alert-link">{{  app.session.get('nombre') }} </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        {{ include('default/vistas/message/success.html.twig') }}
            {{ include('default/vistas/message/error.html.twig') }}
            <div class="table-responsive">
                Total Records: <span id="total"> {{ pagination.getTotalItemCount }}</span>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>
                            {{ knp_pagination_sortable(pagination,'ID','u.id') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination,'titulo','u.titulo') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination,'contenido','u.contenido') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination,'Fecha de creacion','u.fechaPublicacion') }}
                        </th>
                        <th>
                            Autor
                        </th>
                        <th>
                            action
                        </th>
                    </tr>
                    </thead>
                        {% for pagination in pagination %}
                    <tbody>
                    <tr id="{{ pagination.id }}" data-id="{{ pagination.id }}" class="getId">
                        <td > {{ pagination.id }}</td>
                        <td> {{ pagination.titulo}}</td>
                        <td> {{ pagination.contenido }}</td>
                        <td> {{ pagination.fechaPublicacion|date('Y-m-d H:i') }}</td>
                        <td> {{ pagination.postuser.username }}</td>
                        <td>  <a href="{{ path('ver',{id: pagination.id }) }}" class="btn btn-info btn btn-sm"> Ver</a>
                             <a href="{{ path('editar',{id: pagination.id }) }}" type="button" class="btn btn-primary btn-sm">Editar</a>
                          <a href="#" class="btn btn-danger btn btn-sm btn-delete">Borrar</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


                {# display navigation #}
                <div class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>




        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    </div>

    {{ include('default/vistas/form.html.twig',{form: delete_form_ajax , message:'Estas seguro de borrar este post?',id:'form-delete'
        ,with_submit: false}) }}



{% endblock %}

{% block javascripts %}
    {{ parent () }}

    <script>
        $(document).ready(function () {
          $('.btn-delete').click(function (e) {
              e.preventDefault();
              var row = $(this).parents('tr');
              var id = row.data('id');
              var form = $('#form-delete');
              var url = form.attr('action').replace(':POST_ID', id);
              var data = form.serialize();
              bootbox.confirm(message,function (res) {
                 if (res==true){
                     $.ajax({
                        type:'POST',
                         dataType:'json',
                         url:'http://127.0.0.1:8000/prueba/'+id,
                         success: function(response){
                             if(response.removed == 1){
                                 row.fadeOut();
                                 $('#message').removeClass('hidden');
                                 $('#user-message').text(response.message);

                                var totalpost= $('#total').text();
                                 if($.isNumeric(totalpost)){
                                     $('#total').text(totalpost - 1);
                                 }else{
                                     $('#total').text(response.allpost);
                                 }

                             }else {
                                 $('#message-danger').removeClass('hidden');
                                 $('#user-message-danger').text(response.message);
                             }
                         }

                     });

                 }

              });

          });





            });
    </script>

{% endblock %}
